<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="jababdihi-backend"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"ts":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","service":"${appName}","thread":"%thread","logger":"%logger{36}","message":"%replace(%replace(%replace(%msg){'\\','\\\\'}){'\"','\\\"'}){'[\r\n]+','\\n'}","traceId":"%X{traceId:-}","spanId":"%X{spanId:-}"}%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
